    <!--Inicio de seccion del banner-->
    <div class="banner_service">  
        <div class="banner_figure">
            <div class="banner-circle-red">
                <img  src="res/img/recursos/diseno.png" alt="" class="banner-vector">
            </div>
        </div> 

        <div class="banner_services_text" >
            <h3 class="bannerdev_title">Diseño <br> gráfico<span class="red">.</span></h3>
            <p>  
                Creemos que la optimización y automatización de procesos mediante.
            </p>
        </div>

        <a href="" class="icon" data-ng-click="servicioDesign.scrollDown()">
            <span class="fa fa-angle-down"></span>
        </a>
    </div>
    <!--Fín de seccion del banner-->

    <!--Inicio de seccion del contenido-->
    <div class="services-content" id="designService">

        <figure class="figure_services_content img-branding">
            <figcaption class="services_text_content">
                <h1 class="services_title">Branding<span class="red">.</span></h1>
                <p >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste enim reiciendis fugit autem,
                    quasi veritatis <span class="hiden-xs"> assumenda quisquam dignissimos tempore ipsum ad inventore rerum dicta eligendi
                    eveniet earum itaque unde.</span>
                </p>

                <a href="" class="btn btn-cotizar">
                    Cotizar
                </a>
            </figcaption>
        </figure>

        <figure class="figure_services_content img-publicitario">
            <figcaption class="services_text_content derecha">
                <h1 class="services_title">Diseño <br> publicitario<span class="red">.</span></h1>
                <p >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, quod, debitis! 
                    Fuga commodi <span class="hiden-xs">nihil natus, quia aliquam ut velit, dignissimos facere ullam reiciendis 
                    perferendis expedita itaque alias voluptatem sed voluptates.</span>
                </p>

                <a href="" class="btn btn-cotizar">
                    Cotizar
                </a>
            </figcaption>
        </figure>

        <figure class="figure_services_content img-editorial">
            <figcaption class="services_text_content">
                <h1 class="services_title">Diseño <br> Editorial<span class="red">.</span></h1>
                <p >
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, quo, odio. 
                    Facilis <span class="hiden-xs">animi facere assumenda nihil iusto architecto pariatur maxime non, nisi ipsa 
                    quis beatae excepturi enim aut, delectus recusandae?</span>
                </p>

                <a href="" class="btn btn-cotizar">
                    Cotizar
                </a>
            </figcaption>
        </figure> 
    </div>
    <!--Fín de seccion del contenido-->