<!--Inicio de seccion del banner-->
<div class="banner_service">  
    <div class="banner_figure">
        <div class="banner-circle-red">
            <img  src="{{ servicio.servicio.mainimagen }}" alt="" class="banner-vector">
        </div>
    </div> 

    <div class="banner_services_text" >
        <h1 class="bannerdev_title"> {{ servicio.servicio.maintitle }} <br>{{ servicio.servicio.maintitle2}}<span class='red'>.</span> </h1>
        <p ng-bind="servicio.servicio.maindescription">  
        </p>
    </div>

    <a href="" class="icon" data-ng-click="servicio.scrollDown()">
        <span class="fa fa-angle-down"></span>
    </a>
</div>
<!--Fín de seccion del banner-->

<!--Inicio de seccion del contenido-->
<div class="services-content" id="conten-Service">

    <figure class="figure_services_content {{service.imagen}}" data-ng-repeat="service in servicio.servicio.servicios">
        <figcaption class="services_text_content">
            <h3 class="services_title"> {{service.titulo}}<span class="red">.</span></h3>
            <p >
                {{ service.descripcion }}<span class="hiden-xs">{{ service.descripcion2 }}</span>
            </p>

            <a href="" data-ng-click="servicio.openmodal( service.titulo )"  class="btn btn-cotizar" id="btn_open">
                Cotizar
            </a>
        </figcaption> 
    </figure>
</div>
<!--Fín de seccion del contenido-->

<!--Inicio de seccion del enlaces-->
<div class="enlaces">

    <a href="" data-ui-sref="{{ enlace.ruta }}" data-ng-repeat="enlace in servicio.servicio.enlaces" class="{{ enlace.clase }}">
        <!-- <img class="enlace__bg-img" src="{{ enlace.imagen }}" alt="{{ enlace.descripcion }}"> -->
        <figure class="service-enlace">
            {{ enlace.descripcion }}
        </figure>
    </a>

</div>
<!--Fín de seccion del enlaces-->


<!--Modal-->
<div id="Modalservice" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="res/img/B.png" alt="Bigbang icon blanco" class="fbicon">
                <h4 class="modal-title">Cotizar {{ servicio.tituloModal }} <span class="red">.</span></h4>
                <button type="button" class="close closemodal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="mod-body">
                <form class="modal-form">

                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Nombres del Contácto" data-ng-model="servicio.mailObj.name" >
                        <div class="line-active"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Correo Electrónico*" data-ng-model="servicio.mailObj.correo">
                        <div class="line-active"></div>
                    </div> 
                    <div class="form-group">
                        <input type="text" class="form-input" data-ng-model="servicio.mailObj.telefono" placeholder="Teléfono">
                        <div class="line-active"></div>
                    </div>

                    <p>Tiempo disponible para entrega del proyecto:</p>     
                    <div class="center-align"> 
                        
                        <div class="radio-buton">   
                            <input type="radio" name="size" id="Appmobil1" value="Hay tiempo" checked data-ng-model="servicio.mailObj.tiempo" />
                            <label for="Appmobil1">¡Hay tiempo!</l>
                        </div>

                        <div class="radio-buton Sweb2"> 
                            <input type="radio" name="size" id="Appmobil2" value="Medio urgente" data-ng-model="servicio.mailObj.tiempo"/>
                            <label for="Appmobil2">¡Medio urgente!</label>
                        </div>
                        <div class="radio-buton">
                            <input type="radio" name="size" id="Appmobil3" value="Para ayer" data-ng-model="servicio.mailObj.tiempo"/>
                            <label for="Appmobil3">¡Para ayer!</label>
                        </div>     
                    </div>

                    <div class="form-group">
                        <textarea class="form-txtarea" placeholder="Detalles del proyecto, descríbanos su Apps Mobil..." data-ng-model="servicio.mailObj.descripcion"></textarea>
                    </div>

                    

                    <div class="modal-footer flex flex-center_horizontal">
                        <button class="btn-modal form-button" data-ng-click="servicio.enviarMail()"> Cotizar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>