<div class="container">
    <div class="row-servicios">
        <div class="banner">
            <div class="banner_contenido">
                <h1 class="banner_title">
                    Servicios
                </h1>
            </div>

            <div class="container_text_banner">

                <p class="banner_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Rem quas nihil delectus sunt laudantium eos similique explicabo beatae modi nostrum.
                </p>
            </div>

            <a href="" class="icon-white" >
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <div class="row-servicios conten-servicios">
        <h2 class="main-servicios-title">
            Lorem ipsum dolor sit amet elit.
        </h2>
        <div class="servicios">

            <a href="" data-ui-sref="servicioDev">
                <figure class="servicio">
                    <img class="servicio__bg-img" src="res/img/recursos/background-web.png" alt="">
                    <figcaption class="servicio__text-caption">
                        <div class="vector vector-dev"></div>
                        <h3>Desarrollo <br> web<span class="red">.</span></h3>
                        <p>  
                            Creemos que la optimización y automatización de procesos mediante nuestros
                            softwares son la solución práctica para potenciarte en el mercado.
                        </p>
                    </figcaption>
                </figure>            
            </a>

            <a href="" data-ui-sref="/">            
                <figure class="servicio">
                    <img class="servicio__bg-img" src="res/img/recursos/background-diseno.png" alt="">
                    <figcaption class="servicio__text-caption">
                        <div class="vector vector-desing"></div>
                        <h3>Diseño <br> gráfico<span class="red">.</span></h3>
                        <p class="">
                            Desarrollamos tus conceptos en: Identidad corporativa (logotipo y marca), papelería,
                            cartelería, expresiones editoriales, diseño publicitario y web.
                        </p>
                    </figcaption>
                </figure>            
            </a>

            <a href="" data-ui-sref="/">
                <figure class="servicio">
                    <img class="servicio__bg-img" src="res/img/recursos/background-marketing.png" alt="">
                    <figcaption class="servicio__text-caption">
                        <div class="vector vector-marketing"></div>
                        <h3>Marketing <br> digital<span class="red">.</span></h3>
                        <p class="">
                            Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                            empresarial. Esto lo hace posible mediante el conocimiento de las tecnologias y su aplicación.
                        </p>
                    </figcaption>
                </figure>
            </a>

        </div>
        <!--<div class="servicios">

            <div class="servicios_item desarrollo">
                <img src="res/img/recursos/Desarrollored.png" class="servicios_image" alt="Desarrollo web">
                <h2 class="servicios_title">Desarrollo <br> web<span class="red">.</span></h2>
                <p class="servicios_text">
                    Creemos que la optimización y automatización de procesos mediante nuestros
                    softwares son la solución práctica para potenciarte en el mercado.
                </p>
                    
                <div class="mask"></div>
            </div>

            <div class="servicios_item disenio">
                <img src="res/img/recursos/Disenored.png" class="servicios_image" alt="Diseño gráfico">
                <h2 class="servicios_title">Diseño <br>gráfico<span class="red">.</span></h2>
                <p class="servicios_text">
                    Desarrollamos tus conceptos en: Identidad corporativa (logotipo y marca), papelería,
                    cartelería, expresiones editoriales, diseño publicitario y web.
                </p>

                <div class="mask"></div>
            </div>

            <div class="servicios_item marketing">
                <img src="res/img/recursos/Marketingred.png" class="servicios_image" alt="Marketing digital">
                <h2 class="servicios_title">Marketing <br>digital<span class="red">.</span></h2>
                <p class="servicios_text">
                    Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                    empresarial. Esto lo hace posible mediante el conocimiento de las tecnologias y su aplicación.
                </p>

                <div class="mask"></div>
            </div>-->

        </div>
    </div>
</div>