<div class="container">
    <div class="row-servicios">
        <div class="banner">
            <div class="banner_contenido">
                <h1 class="banner_title">
                    {{ servicios.LANG.maintitle }}
                </h1>
            </div>

            <div class="container_text_banner">
                <p class="banner_text">
                    {{ servicios.LANG.maintext }}
                </p>
            </div>

            <a href="" class="icon-white" data-ng-click="servicios.scrollDown()">
                <span class="fa fa-angle-down"></span>
            </a>
        </div>
    </div>

    <div class="row-servicios conten-servicios" id="servicios-conten">
        <h2 class="main-servicios-title">
            {{ servicios.LANG.secondtitle }}
        </h2>
        <div class="servicios">

            <a href="" data-ui-sref="servicio({servicio:'desarrollo'})">
                <figure class="servicio">
                    <img class="servicio__bg-img" src="res/img/recursos/background-web.png" alt="Servicios de desarrollo web">
                    <figcaption class="servicio__text-caption">
                        <div class="vector vector-dev"></div>
                        <h3>{{ servicios.LANG.servicios1.titulo1 }} <br> {{ servicios.LANG.servicios1.titulo2 }}<span class="red">.</span></h3>
                        <p>  
                            {{ servicios.LANG.servicios1.parrafo }}
                        </p>
                    </figcaption>
                </figure>            
            </a>

            <a href="" data-ui-sref="servicio({servicio:'disenio'})">            
                <figure class="servicio">
                    <img class="servicio__bg-img" src="res/img/recursos/background-diseno.png" alt="Servicios de diseño gráfico">
                    <figcaption class="servicio__text-caption">
                        <div class="vector vector-desing"></div>
                        <h3>{{ servicios.LANG.servicios2.titulo1 }} <br> {{ servicios.LANG.servicios2.titulo2 }}<span class="red">.</span></h3>
                        <p class="">
                            {{ servicios.LANG.servicios2.parrafo }}
                        </p>
                    </figcaption>
                </figure>            
            </a>

            <a href="" data-ui-sref="servicio({servicio:'marketing'})">
                <figure class="servicio">
                    <img class="servicio__bg-img" src="res/img/recursos/background-marketing.png" alt="Servicios de marketing digital">
                    <figcaption class="servicio__text-caption">
                        <div class="vector vector-marketing"></div>
                        <h3>{{ servicios.LANG.servicios3.titulo1 }} <br> {{ servicios.LANG.servicios3.titulo2 }}<span class="red">.</span></h3>
                        <p class="">
                            {{ servicios.LANG.servicios3.parrafo }}
                        </p>
                    </figcaption>
                </figure>
            </a>

        </div>
    </div>
</div>