<div class="container">
    <div id="myBtnContainer" class="portfolioFilter">
        <a class="enlace active" onclick="filterSelection('all')"> {{ portafolio.LANG.titulos.title1}}</a>
        <a class="enlace " onclick="filterSelection('web')"> {{ portafolio.LANG.titulos.title2 }}</a>
        <a class="enlace " onclick="filterSelection('disenio')"> {{ portafolio.LANG.titulos.title3 }}</a>
        <a class="enlace " onclick="filterSelection('marketing')"> {{ portafolio.LANG.titulos.title4 }}</a>
    </div>

    <div class="portafolioGaleria" id="portfoliolist">

       <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.farem.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.farem.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.farem.empresa }} <br>{{ portafolio.LANG.proyectos.farem.servicio }}</h3>
                        <p class="portafolio-txt">
                            {{ portafolio.LANG.proyectos.farem.brevedescripcion }}
                        </p>
                </figcaption>
            </figure>
        </a>

        <a data-ui-sref="" id="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.lindocruz.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.lindocruz.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.lindocruz.empresa }}<br>{{ portafolio.LANG.proyectos.lindocruz.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.lindocruz.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.jaliskos.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.jaliskos.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.jaliskos.empresa }} <br> {{ portafolio.LANG.proyectos.jaliskos.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.jaliskos.brevedescripcion }}
                    </p>
                    <!-- <p class="portafolio-txt">
                        <a href="" class="icon-portafolio" data-ng-click="">
                            <span class="fas fa-angle-right"></span>
                        </a>
                    </p> -->
                </figcaption>
            </figure>
        </a>
        
        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.lacolonia.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.lacolonia.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.lacolonia.empresa }}<br> {{ portafolio.LANG.proyectos.lacolonia.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.lacolonia.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a> 

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.mundo.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.mundo.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.mundo.empresa }} <br> {{ portafolio.LANG.proyectos.mundo.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.mundo.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.pinkparty.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.pinkparty.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.pinkparty.empresa }}<br> {{ portafolio.LANG.proyectos.pinkparty.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.pinkparty.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.isnaya.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.isnaya.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.isnaya.empresa }} <br> {{ portafolio.LANG.proyectos.isnaya.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.isnaya.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.cynthias.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.cynthias.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.cynthias.empresa }} <br> {{ portafolio.LANG.proyectos.cynthias.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.cynthias.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.miraflor.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.miraflor.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.miraflor.empresa }} <br> {{ portafolio.LANG.proyectos.miraflor.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.miraflor.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>
        

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.ESCI.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.ESCI.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.ESCI.empresa }} </h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.ESCI.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.hospitalmilitar.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.hospitalmilitar.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3 class="title-proyect title-hop">{{ portafolio.LANG.proyectos.hospitalmilitar.empresa }} <br>{{ portafolio.LANG.proyectos.hospitalmilitar.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.hospitalmilitar.brevedescripcion  }}
                    </p>
                </figcaption>
            </figure>
        </a>

        
        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.melany.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.melany.imagen}}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.melany.empresa }}<br>{{ portafolio.LANG.proyectos.melany.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.melany.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.jaliskos2.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.jaliskos2.imagen}}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.jaliskos2.empresa }}<br>{{ portafolio.LANG.proyectos.jaliskos2.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.jaliskos2.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a data-ui-sref="" id="open_modal">
            <figure class="portafolio {{ portafolio.LANG.proyectos.apiflor.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.apiflor.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.apiflor.empresa }}<br>{{ portafolio.LANG.proyectos.apiflor.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.apiflor.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

        <a data-ui-sref="" id="">
            <figure class="portafolio {{ portafolio.LANG.proyectos.samcora.tipo }}">
                <img class="portafolio__bg-img" src="{{ portafolio.LANG.proyectos.samcora.imagen }}" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>{{ portafolio.LANG.proyectos.samcora.empresa }}<br>{{ portafolio.LANG.proyectos.samcora.servicio }}</h3>
                    <p class="portafolio-txt">
                        {{ portafolio.LANG.proyectos.samcora.brevedescripcion }}
                    </p>
                </figcaption>
            </figure>
        </a>

    </div>
    
</div>



<!--Modal
<div id="Modalportafolio" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content-portafolio ">
            <div class="principal-content">
                <div class="cabecera">
                    <h5 class="modal-title-portafolio">Sitio web <br>FAREM - Estelí</h5>
                    <button type="button" class="close-md-portafolio closemodal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="desktop">
                    <div class="desktop-text">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Sequi repellendus aperiam omnis exercitationem modi iusto reprehenderit 
                            architecto neque, iste impedit laborum cum, molestias ipsa iure? Optio 
                            dolorum corporis non id.
                        </p>
                    </div>

                    <div class="desktop-imagen">
                        <img src="res/img/recursos/Sin título-1qqpng.png" alt="">
                    </div>
                </div>

                <div class="laptop">
                    <div class="laptop-text">
                        <h3>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        </h3>
                        <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Sequi repellendus aperiam omnis exercitationem modi iusto reprehenderit 
                        architecto neque, iste impedit laborum cum, molestias ipsa iure? Optio 
                        dolorum corporis non id.
                        </p>
                    </div>
    
                    <div class="laptop-imagen">
                        <img src="res/img/recursos/Sin título-1.png" alt="">
                    </div>
                </div>


            </div>

            <div class="contenendor-sec">

            </div>

        </div>
    </div>
</div>-->


<script>
        // modal web
/*         var modal = document.getElementById("Modalportafolio");
        var btn = document.getElementById("open_modal");
        var span = document.getElementsByClassName("closemodal")[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        } */
   


    //Galeria del protafolio  
    filterSelection("all") // Execute the function and show all columns
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("portafolio");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
           
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1); 
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("enlace");
        for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>