<div class="container"></div>
    <div id="myBtnContainer" class="portfolioFilter">
        <a class="enlace active" onclick="filterSelection('all')">TODOS</a>
        <a class="enlace " onclick="filterSelection('web')"> WEB</a>
        <a class="enlace " onclick="filterSelection('disenio')">DISEÑO</a>
        <a class="enlace " onclick="filterSelection('marketing')">MARKETING</a>
    </div>

    <div class="portafolioGaleria" id="portfoliolist">

       <a href="" data-ui-sref="">
            <figure class="portafolio web">
                <img class="portafolio__bg-img" src="res/img/recursos/Farem.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>FAREM-Estelí <br>Sitio web</h3>
                        <p class="portafolio-txt">
                            Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                            empresarial.
                        </p>
                </figcaption>
            </figure>
        </a>

       <a href="" data-ui-sref="">
            <figure class="portafolio disenio">
                <img class="portafolio__bg-img" src="res/img/recursos/La-Colonia.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>La Colonia<br> Mundial 2018</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio marketing">
                <img class="portafolio__bg-img" src="res/img/recursos/Jaliscos-SM.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Jaliskos <br> Social media</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                    <!-- <p class="portafolio-txt">
                        <a href="" class="icon-portafolio" data-ng-click="">
                            <span class="fas fa-angle-right"></span>
                        </a>
                    </p> -->
                </figcaption>
            </figure>
        </a>
        
        <a href="" data-ui-sref="">
            <figure class="portafolio disenio">
                <img class="portafolio__bg-img" src="res/img/recursos/Mundo.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Mundo <br> Imagen de marca</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio marketing">
                <img class="portafolio__bg-img" src="res/img/recursos/Pink-Party.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Pink Party<br> Social media</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio web">
                <img class="portafolio__bg-img" src="res/img/recursos/IsnayaDeveloper.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Isnaya <br> Aplicación Web</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>
        
        <a href="" data-ui-sref="">
            <figure class="portafolio web">
                <img class="portafolio__bg-img" src="res/img/recursos/Web-Miraflor.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Miraflor<br> Sitio web</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio disenio">
                <img class="portafolio__bg-img" src="res/img/recursos/Cynthias.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Cynthias <br> Imagen de marca</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>
       

        <a href="" data-ui-sref="">
            <figure class="portafolio disenio">
                <img class="portafolio__bg-img" src="res/img/recursos/Familias-Unidas.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Cooperativa para la Educación ESCI </h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio disenio">
                <img class="portafolio__bg-img" src="res/img/recursos/Hospital-Militar.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3 class="title-proyect">Hospital Militar <br>X Simposio Diabetes</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

        
        <a href="" data-ui-sref="">
            <figure class="portafolio disenio">
                <img class="portafolio__bg-img" src="res/img/recursos/Melany.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Melany<br>Imagen de marca</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

        <a href="" data-ui-sref="">
            <figure class="portafolio disenio">
                <img class="portafolio__bg-img" src="res/img/recursos/Jaliskos.png" alt="">
                <figcaption class="portafolio__text-caption">
                    <h3>Jaliskos<br>Imagen de marca</h3>
                    <p class="portafolio-txt">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure>
        </a>

    </div>
    
</div>


<!--Modal Apps Mobil-->
<div id="Modalappmobil" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="res/img/B.png" alt="" class="fbicon">
                <h5 class="modal-title">Cotizar Apps Mobil <span class="red">.</span></h5>
                <button type="button" class="close closeapp" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="modal-form">
                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Nombres del Contácto">
                        <div class="line-active"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Correo Electrónico*">
                        <div class="line-active"></div>
                    </div> 
                    <div class="form-group">
                        <input type="text" class="form-input" placeholder="Teléfono">
                        <div class="line-active"></div>
                    </div>

                    <p>Tiempo disponible para entrega del proyecto:</p>     
                    <div class="center-align"> 
                        
                        <div class="radio-buton">   
                            <input type="radio" name="size" id="Appmobil1" value="Tengo tiempo" checked />
                            <label for="Appmobil1">¡Hay tiempo!</l>
                        </div>

                        <div class="radio-buton Sweb2"> 
                            <input type="radio" name="size" id="Appmobil2" value="Urgente" />
                            <label for="Appmobil2">¡Medio urgente!</label>
                        </div>
                        <div class="radio-buton">
                            <input type="radio" name="size" id="Appmobil3" value="ayer" />
                            <label for="Appmobil3">¡Para ayer!</label>
                        </div>     
                    </div>

                    <div class="form-group">
                        <textarea class="form-txtarea" placeholder="Detalles del proyecto, descríbanos su Apps Mobil..."></textarea>
                    </div>
                    <div class="form-group flex flex-center_horizontal">
                        <button class="btn-modal form-button" data-ng-click=""> Cotizar </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

/*     function open(nameModal,btnOpen,close){
        // modal web
        var modal = document.getElementById(nameModal);
        var btn = document.getElementById(btnOpen);
        var span = document.getElementsByClassName(close)[0];
        btn.onclick = function() {
            modal.style.display = "block";
        }
        span.onclick = function() {
            modal.style.display = "none";
        }
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    } */
   


    //Galeria del protafolio  
    filterSelection("all") // Execute the function and show all columns
    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("portafolio");
        if (c == "all") c = "";
        // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    // Show filtered elements
    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
            element.className += " " + arr2[i];
           
            }
        }
    }

    // Hide elements that are not selected
    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
            arr1.splice(arr1.indexOf(arr2[i]), 1); 
            }
        }
        element.className = arr1.join(" ");
    }

    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("enlace");
        for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function(){
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>