<div class="container">

	<div class="row">
		<div class="portada">
			<div class="main-title--wrapper">
				<h1 class="main-title">
					El punto <br> de partida de <br>	<span class="red">tus ideas.</span> 
				</h1>
			</div>

			<a href="" class="icon" data-ng-click="home.scrollDown()">
				<span class="fa fa-angle-down"></span>
			</a>
		</div>
	</div>

	<div class="row">
		<div id="slogan" class="slogan">
			<div class="slogan_image-wrappper">
				<img class="slogan_image floating" src="res/img/Edificio 400x400-01.png" alt="deathstar">
			</div>
			
			<div class="slogan_text-wrappper">
				<!-- img class="dirigible" src="res/img/recursos/Sin título-1_Mesa de trabajo 1.png" alt="dirigible" -->
				<div class="red-dot"></div>
				
				<p class="slogan_text">Creemos en la <span class="red">innovación</span> como base del crecimiento y desarrollo...</p>
				<a class="slogan_link  red">¿Querés saber sobre nosotros?</a>
			</div>
		
		</div>
	</div>

	<div class="row">
		<div class="video">
			<iframe class="video_stream" modestbranding=1 data-channel="BigBang Studio" src="https://www.youtube.com/embed/41fxMGhEtpw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row">
		<h1 class="ideales_maintitle red h1-responsive"><span class="punto">· </span>Nuestros ideales<span class="punto">	·</span></h1>

		<div class="ideales">
			
			<div class="aporte social">
				<div class="ideales_before"></div>
				<p class="ideales_title">Crecimiento <br> Social<span class="punto red">.</span></p>
				<p class="ideales_text">
					"Nuestros proyectos están comprometidos con el desarrollo de nuestra sociedad, brindamos soluciones que permitan a los 
					clientes ser más competitivos en <br> mercados exigentes". 
				</p>
				
			</div>

			<div class="aporte cultural">
				<div class="ideales_before-2"></div>
				<p class="ideales_title">Aporte<br> Cultural<span class="punto red">.</span></p>
				<p class="ideales_text">
					"Nos esforzamos por aportar valores sustanciales a la cultura gráfica de la comunidad, pues nuestros 
					proyectos están cargados de ingenio, color <br>y conocimientos técnicos."  
				</p>
			</div>

			<div class="aporte tecnologico">
				<div class="ideales_before-3"></div>
				<p class="ideales_title">Desarrollo<br> Tecnológico<span class="punto red">.</span></p>
				<p class="ideales_text">
					"Diseñar y desarrollar soluciones tecnológicas que optimicen procesos empresariales y se ajusten a las
					plataformas de hoy en día. Fomentamos el empoderamiento cultural <br> de estas tecnologías."  
				</p>
			</div>
		</div>
	</div>

	<div class="row">
		<h1 class="vidaBigbang_maintitle h1-responsive">BigBang Counter</h1>

		<div class="vidaBigbang">
			
			<div class="actividades">
				<img src="res/img/recursos/Contador_Mesa de trabajo 1.jpg" alt="Tazas de Café" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad"> + {{ home.cont }} </span><br>
					Tazas de café
				</p>
			</div>

			<div class="actividades">
				<img src="res/img/recursos/Contador-02.jpg" alt="Control de video juegos" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+220</span><br>
					Juegos de fifa
				</p>
			</div>

			<div class="actividades hiden-movil">
				<img src="res/img/recursos/Contador-03.jpg" alt="Redobles" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+560</span><br>
					Chistes <br> malos
				</p>
			</div>

			<div class="actividades">
				<img src="res/img/recursos/Contador-04.jpg" alt="Clientes" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+35</span><br>
					Clientes <br> satisfechos	
				</p>
			</div>

			<div class="actividades">
				<img src="res/img/recursos/Contador-05.jpg" alt="Proyectos" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+40</span><br>

					Proyectos <br> terminados	
				</p>
			</div>

		</div>
	</div>

	
	<div class="pasion">
		<div class="pasionBlack">
			<div class="contentPasionTitle">
				<h1 class="pasionTitle">
					nos <br>mueve <br><span class="red">ser</span> <br> el<br> cambio
				</h1>	
			</div>
		</div>
			
		<div class="pasionRed">
			<div class="contentPasionTex">
				<p>
					"Integramos creatividad, tecnología y estrategia con el objetivo de hacer crecer marcas, negocios y personas."
				</p>
				<p>
					"Transformamos sueños, proyectos, objetivos y metas en experiencias digitales para un universo en constante expansión."
				</p>	
			</div>
		</div>
	</div>

	<div class="row">
		<h1 class="clientes_maintitle red h1-responsive"><span class="punto">·</span> Nuestros Clientes <span class="punto">·</span></h1>
		<div class="clientes">

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas_Mesa de trabajo 1.jpg" class="clientes_image" alt="FAREM">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-02.jpg" class="clientes_image" alt="Flor de caña">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-03.jpg" class="clientes_image" alt="Marketing digital">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-04.jpg" class="clientes_image" alt="Isnaya">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-06.jpg" class="clientes_image logo_aj" alt="AJ Fernandez">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-05.jpg" class="clientes_image" alt="Grupo Venancia">
			</div>
		</div>

	</div>

</div>
