<div class="container">
	<div class="row">
		<div class="portada">
			<div class="main-title--wrapper">
				<h1 class="main-title">
					{{ home.LANG.maintitle.parte1 }} <br> {{ home.LANG.maintitle.parte2 }} <br>	<span class="red">{{ home.LANG.maintitle.parte3 }}</span> 
				</h1>
			</div>

			<a href="" class="icon" data-ng-click="home.scrollDown()">
				<span class="fa fa-angle-down"></span>
			</a>
		</div>
	</div>

	<div class="row">
		<div id="slogan" class="slogan">
			<div class="slogan_image-wrappper">
				<img class="slogan_image floating" src="res/img/Edificio 400x400-01.png" alt="deathstar">
			</div>
			
			<div class="slogan_text-wrappper">
				<!-- img class="dirigible" src="res/img/recursos/Sin título-1_Mesa de trabajo 1.png" alt="dirigible" -->
				<div class="red-dot"></div>
				
				<p class="slogan_text">{{ home.LANG.title2.parte1 }} <span class="red">{{ home.LANG.title2.parte2 }}</span> {{ home.LANG.title2.parte3 }}</p>
				<a class="slogan_link  red">{{ home.LANG.title2.pregunta }}</a>
			</div>
		
		</div>
	</div>

	<div class="row">
		<div class="video">
			<iframe class="video_stream" modestbranding=1 data-channel="BigBang Studio" src="https://www.youtube.com/embed/41fxMGhEtpw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row row-new">
		<h1 class="ideales_maintitle red h1-responsive"><span class="punto">· </span>{{ home.LANG.ideales.maintitle }}<span class="punto">	·</span></h1>

		<div class="ideales">
			
			<div class="aporte social">
				<div class="ideales_before"></div>
				<p class="ideales_title">{{ home.LANG.ideales.ideales1.titulo1 }} <br> {{ home.LANG.ideales.ideales1.titulo2 }}<span class="punto red">.</span></p>
				<p class="ideales_text">
					"{{ home.LANG.ideales.ideales1.parrafo }}". 
				</p>
				
			</div>

			<div class="aporte cultural">
				<div class="ideales_before-2"></div>
				<p class="ideales_title">{{ home.LANG.ideales.ideales2.titulo1 }}<br> {{ home.LANG.ideales.ideales2.titulo2 }}<span class="punto red">.</span></p>
				<p class="ideales_text">
					"{{ home.LANG.ideales.ideales2.parrafo }}".  
				</p>
			</div>

			<div class="aporte tecnologico">
				<div class="ideales_before-3"></div>
				<p class="ideales_title">{{ home.LANG.ideales.ideales3.titulo1 }}<br> {{ home.LANG.ideales.ideales3.titulo2 }}<span class="punto red">.</span></p>
				<p class="ideales_text">
					"{{ home.LANG.ideales.ideales3.parrafo }}".  
				</p>
			</div>
		</div>
	</div>

	<div class="row row-new">
		<h1 class="vidaBigbang_maintitle h1-responsive">BigBang Counter</h1>

		<div class="vidaBigbang">
			
			<div class="actividades">
				<img src="res/img/recursos/Contador_Mesa de trabajo 1.jpg" alt="Tazas de Café" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad"> + {{ home.cont }} </span><br>
					{{ home.LANG.contador.tazascafe }}
				</p>
			</div>

			<div class="actividades">
				<img src="res/img/recursos/Contador-02.jpg" alt="Control de video juegos" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+220</span><br>
					{{ home.LANG.contador.fifa }}
				</p>
			</div>

			<div class="actividades hiden-movil">
				<img src="res/img/recursos/Contador-03.jpg" alt="Redobles" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+560</span><br>
					{{ home.LANG.contador.chistes1 }} <br> {{ home.LANG.contador.chistes2 }}
				</p>
			</div>

			<div class="actividades">
				<img src="res/img/recursos/Contador-04.jpg" alt="Clientes" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+35</span><br>
					{{ home.LANG.contador.clientes1 }} <br> {{ home.LANG.contador.clientes2 }}
				</p>
			</div>

			<div class="actividades">
				<img src="res/img/recursos/Contador-05.jpg" alt="Proyectos" class="actividades_image">
				<p class="vidaBB_text">
					<span class="cantidad">+40</span><br>

					{{ home.LANG.contador.proyectos1 }} <br> {{ home.LANG.contador.proyectos2 }}
				</p>
			</div>

		</div>
	</div>

	<div class="pasion">
		<div class="pasionBlack">
			<div class="contentPasionTitle">
				<h1 class="pasionTitle">
					{{ home.LANG.nosotros.tparte1 }} <br>{{ home.LANG.nosotros.tparte2 }} <br><span class="red">{{ home.LANG.nosotros.tparte3 }}</span> <br> {{ home.LANG.nosotros.tparte4 }}<br> {{ home.LANG.nosotros.tparte5 }}
				</h1>	
			</div>
		</div>
			
		<div class="pasionRed">
			<div class="contentPasionTex">
				<p>
					"{{ home.LANG.nosotros.parrafo1 }}."
				</p>
				<p>
					"{{ home.LANG.nosotros.parrafo2 }}."
				</p>	
			</div>
		</div>
	</div>

	<div class="row row-new">
		<h1 class="clientes_maintitle red h1-responsive"><span class="punto">·</span> {{ home.LANG.clientestitle }} <span class="punto">·</span></h1>
		<div class="clientes">

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas_Mesa de trabajo 1.jpg" class="clientes_image" alt="FAREM">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-02.jpg" class="clientes_image" alt="Flor de caña">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-03.jpg" class="clientes_image" alt="Marketing digital">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-04.jpg" class="clientes_image" alt="Isnaya">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-06.jpg" class="clientes_image logo_aj" alt="AJ Fernandez">
			</div>

			<div class="logo_clientes">
				<img src="res/img/logo clientes/Marcas-05.jpg" class="clientes_image" alt="Grupo Venancia">
			</div>
		</div>

	</div>

</div>
