.img-socialmedia{
    background-image: url(../../res/img/recursos/Papeleria.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-publicidad-google{
    background-image: url(../../res/img/recursos/disenio-publicitario.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-google-adwords{
    background-image: url(../../res/img/recursos/editorial.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-google-adsense{
    background-image: url(../../res/img/recursos/disenio-publicitario.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 580px){  
    .img-socialmedia{
        background-image: url(../../res/img/recursos/Papeleria.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-publicidad-google{
        background-image: url(../../res/img/recursos/disenio-publicitario.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-google-adwords{
        background-image: url(../../res/img/recursos/editorial.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-google-adsense{
        background-image: url(../../res/img/recursos/disenio-publicitario.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}