.row-servicios {
    padding: 0.5em 1em;
}
.banner{
    align-items:  center;
    background:url("../../res/img/recursos/S2.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 535px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1.7rem;
    margin-right: -1.6rem;
    margin-top: -3rem;    
    padding: 3rem;
}
.banner_title{
    font-size: 4.5em;
    font-weight: 800;
    text-transform: uppercase;
}
.container_text_banner{
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.banner_text{
    font-size: 1.5em;
    margin: 0 auto;
    width: 680px;
}
.banner_contenido{
    width: 100%;
    text-align: center;
}
.icon-white{
    align-self: flex-end;
    background: #fff;
    color: #E13639;
    border-radius: 50%;
    font-size: 30px;
    margin-top: 3rem;
    padding: 10px 19px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    z-index: 1;
}


.servicios{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    align-content:center;
    padding: 2rem 0;
}
.main-servicios-title{
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

/*MAQUETA JENNIER*/

.servicio {
    width: 350px;
    border-bottom: 5px solid #323232;
    overflow: hidden;
}

.servicio:hover .servicio__bg-img {    
    opacity: 4;
}
.servicio:hover .servicio__text-caption {
    color: #fff;

    .red
    {
        color: #fff;
    }
}
.servicio:hover .vector-dev {
    background-image: url("../../res/img/recursos/Desarrollo.png");
}
.servicio:hover .vector-desing {
    background-image: url("../../res/img/recursos/Diseno.png");
}
.servicio:hover .vector-marketing {
    background-image: url("../../res/img/recursos/Marketing.png");
}
.servicio__bg-img {
    position: absolute;
    width: 350px;
    height: 351px;
    opacity: 0;
    z-index: -1;
    transition: .3s ease all;
}

.servicio__text-caption {
    position: relative;    
    padding: 2rem 2rem 1rem 2rem;
    transition: .3s ease all;

    .vector {
        width: 90px;
        height: 95px;
        background-size: 100%;
        background-repeat: no-repeat;
        transition: .3s ease all;
    }
    .vector-dev {        
        background-image: url("../../res/img/recursos/Desarrollored.png");
    }
    .vector-desing {        
        background-image: url("../../res/img/recursos/Disenored.png");
    }
    .vector-marketing {        
        background-image: url("../../res/img/recursos/Marketingred.png");
    }
    h3 {
        font-size: 1.9em;
        margin-top: .4rem;
    }
    p{
        font-weight: 400;
    }
}


//Diseño de modals

.fbicon {
    margin-right: 1rem;
    width: 45px;
    margin-top: .4rem;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.7); 
}

.modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    border: 0;
    outline: 0;
    margin: 0 auto;
    margin-top: .3rem;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: 55%;
}

.modal-header {
    background: #323232;
    color: #fff;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    padding: .6rem;
}

.modal-header .close {
    padding: 1rem;
    float: right;
    font-size: 1.5em;
}
.modal-title {
    margin: 0 auto;
    line-height: 1.42857143;
    font-size: 1.7em;
    margin-top: .6rem;
}
.modal-body {
    position: relative;
    padding: 15px;
    padding-bottom: 0px;
}
.modal-footer{
    margin-bottom: 0px;
    width: 100%;
}

.modal-dialog,
.modal-content {
    height: 80%;
}

.modal-body {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}
button.close {
    color: #fff;
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}
.btn-modal{
    background-color: #e13639;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: .9em;
    font-weight: 600;
    position: relative;
    padding: 6px 20px;
    transition: .2s ease-out;
}

.modal-form {
    width: 85%;
    padding: 1rem 2rem;
    margin: 0 auto;
}
.modal-form * {
    font-family: montserrat;
}
.modal-form .form-input {
    border-bottom: 1px solid #ccc;
}
.modal-form .form-group:nth-child(2), 
.modal-form .form-group:nth-child(3)
{
    width: 48%;
    float: left;
}

.modal-form .form-group:nth-child(3) {
    float: right;
}

.modal-form .form-txtarea {
    border: 1px solid #ccc;
    width: 100%;
    height: 220px;
}

.modal-form .center-align{
    display: flex;
    width:100%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 1.5rem 0;
}
  
input[type="radio"]{
    visibility: hidden;
    height: 0;
    width: 0;
}
.radio-buton{
    width:25%;
}
.Sweb2{
    width: 30%;
}
label {
    text-align: center;
    cursor: pointer;
    background-color: #323232;
    color: white;
    padding: 7px 10px;
    border-radius: 8px;
    transition: all .3s ease-out;
}

input[type="radio"]:checked + label{
    background-color: #e13639;
}

@media screen and (max-width: 1024px){
    .servicio {
        width: 300px;
        border-bottom: 5px solid #323232;
        overflow: hidden;
        height: 370px;
    }
    .servicio__bg-img { 
        width: 300px;
    }

    .figure_services_content {
        height: 366px;
        width: 100%;
    }
    .services_text_content {
        padding-top: 4.3rem;
    }


    .modal-content {
        width: 88%;
    }
    .modal-dialog,
    .modal-content {
        height: 80%;
    }
}
@media screen and (max-width: 768px){
    .servicios {
        max-width: 600px;
    }
    .servicio__bg-img { 
        width: 550px;
    }

    .servicio {
        width: 550px;
        border-bottom: 3px solid #323232;
        overflow: hidden;
        height: 297px;
        margin-bottom: 2rem;
    }

    .servicio__text-caption {
        padding: 1rem 1rem 0rem;

        .vector {
            width: 110px;
            height: 115px;
            background-size: 100%;
            background-repeat: no-repeat;
            transition: all .3s ease;
        }
    }



    .modal-content {
        width: 88%;
    }
    .modal-dialog,
    .modal-content {
        height: 59%;
    }
}
@media screen and (max-width: 600px){
    
    .conten-servicios{
        background-color: #fff;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -.6rem;
        margin-right: -.6rem;
    }
    .servicios {
        max-width: 430px;
        background: #f5f5f5;
        padding: 0;
        margin-top: 1rem;
        padding-top: 1rem;
    }
    .servicio__bg-img {
        width: 200px;
    }
    .servicio {
        background-color: #fff;
        width: 400px;
        height: 320px;
        border-bottom:none;
        margin-top: 0rem;
        border-bottom: 3px solid #bdbdbd;
    }
    
    .servicio__bg-img {
        background: none;
    }
}
@media screen and (max-width: 580px){
    .main-servicios-title {
        margin-top: 0rem;
        margin-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;
    }
    .servicio{
        background-color: #fff;
        border-bottom: 3px solid #bdbdbd;
        margin-bottom: 1rem;
        width: 305px; 
        height: 335px; 
    }


    .container, .header {
        padding: 0rem 0.6rem;
    }
    .row-servicios{
        padding: 0 1rem;
    }
    .content-banner{
       padding: 0;
    }
    .banner{
        background:url("../../res/img/recursos/MOBIL.png");
        background-repeat: no-repeat;
        background-size: 100%;
        height: 260px;
        margin-top: 0;
    }
    .banner_title{
        font-size: 3em;
        margin-top: 2.2rem;
    }
    .banner_text{
        display: none;
    }
    .icon-white{
        display: none;
    }

    .conten-servicios{
        background: #f5f5f5;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -.6rem;
        margin-right: -.6rem;
    }

    .servicio__bg-img {
        width: 320px;
    }
    .modal-content {
        width: 95%;
    }

    .modal-title {
        font-size: 1.3em;
    }
    .fbicon {
        width: 32px;
    }
    .modal-form {
        width: 80%;
        padding: 0; 
    }

    .modal-form .form-group:nth-child(2), 
    .modal-form .form-group:nth-child(3) {
        width: 100%;
    }

    .de{
        width: 10%;
        float: left;
        margin-top: 29px;
        margin-right: 5px;
    }
    .a{
        width: 10%;
        float: left;
        margin-top: 29px;
        margin-left: 5px;
    }
    .fecha{
        width: 85%;
        float: left;
    }

    .modal-form .center-align{
        flex-wrap: wrap;
        width: 240px;
    }
    .modal-content {
        width: 90%;
    }
    .modal-dialog,
    .modal-content {
        height: 90%;
    }
    .radio-buton{
        text-align: left;
        width: 240px;
        margin-bottom: 1.2rem;
        margin-top: .5rem;
    }
}

.figure_services_content:nth-child(even) .services_text_content {
    float: right;
}