.portfolioFilter {
    flex-wrap: wrap;
    text-align: center;
}
  
.portfolioFilter a {
    color: #323232;
    display: inline-block;
    font-weight: 700;
    padding: 0px 15px;
    text-decoration: none;
}
.portfolioFilter a:focus, .portfolioFilter a:hover {
    color: #E13639;
    cursor: pointer;
}

.portfolioFilter .active {
    color: #E13639;
}

.portafolioGaleria{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    /*justify-content: space-between;
    align-content:center; */
    padding: 1.2rem 1;
}

.portafolio {
    display: none;
    height: 360px;
    margin: 1rem 20px;
    position: relative;
    overflow: hidden;
    width: 360px;
    cursor: pointer;
}

.portafolio__bg-img {
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: .3s ease all;
    display: block;
   
}
.portafolio__text-caption {
    position: relative;    
    padding: 16.6rem 2rem 4.2rem 2rem;
    transition: .3s ease all;
    background-color: rgba(0,0,0,0.3);
    h3 {
        font-size: 1.9em;
        color: #fff;
        line-height:1.1;
    }
    p{
        font-weight: 400;
        display: none;
    }
}

.portafolio__text-caption:hover{
    position: relative;  
    padding: 11rem 2rem 2rem 2rem;
    transition: .3s ease all;
    p{
        display: block;
        transition: .3s ease all;
    }
}

.portafolio:hover{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 360;
    height: 360px;
    transition: .3s ease all;
    .portafolio__text-caption {
        opacity: 1;
        transform: translateY(-0px);  
        padding: 11rem 2rem 2rem;
        transition: margin-top 0.6s;
        transition: .3s ease all;
    }
    p{
        transition: .3s ease all;
        color: #fff;
    } 
}

.title-proyect{
    margin-top: -2rem;
    width: 299px;
}

.title-hop{
    margin-top: 0rem!important;
}

.icon-portafolio{
    border-radius: 50%;
    background: #e13639;
    color: #fff;
    font-size: 15px;
    margin-top: -1rem;
    padding: 5px 11px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    z-index: 1;
    float: right;
}

.show {
    display: block;
}

//Estilos de los modals del portafolio
.modal-content-portafolio {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    border: 0;
    outline: 0;
    margin: 0 auto;
    margin-top: 1rem;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    width: 70%;
}
.modal-body-portafolio {
    position: relative;
    padding: 1rem 2.2rem;
}
.modal-dialog,
.modal-content-portafolio {
    height: 120%;
}

.modal-content-portafolio {
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}
.principal-content{
    background-color: #00acf5;
    padding: 1rem 2.3rem;
}
.contenendor-sec{
    background-color: #fff;
}

button.close-md-portafolio {
    color: #fff;
    background-color: transparent;
    border: 0;
    font-size: 1.4em;
    font-weight: 600;
    float: right;
    margin-top: -7rem;
    -webkit-appearance: none;
    padding: .3rem;
}
.modal-title-portafolio {
    margin: 0 auto;
    line-height: 1.42857143;
    font-size: 2.5em;
    font-weight: 800;
    margin-top: .6rem;
    color: #fff;
}


.desktop{
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin: 0 auto;
    justify-content: space-between;
    /*align-content:center; */
    padding: 1.8rem 0rem;
    padding-left: -1rem;
}
.desktop-text{
    color: #fff;
    padding: 3rem 0;
    width: 60%;
}
.desktop-imagen{
    width: 35%;
    float: right;
    margin-right: -26px;
    img{
        width:320px;
    }
}

.laptop{
    display: flex;
    flex-wrap: wrap;
    max-width: 780px;
    margin: 0 auto;
    justify-content: space-between;
    /*align-content:center; */
    padding: 1.8rem 0rem;
    padding-left: -1rem;
}
.laptop-text{
    color: #fff;
    text-align: center;

}
.laptop-imagen{
    width: 100%;
    margin-right: -26px;
    text-align: center;
    img{
        width:320px;
    }
}

@media screen and (min-width: 1600px){
    .portfolioFilter {
        font-size: 1.4em;
    }
    .portafolioGaleria {
        max-width: 1600px;
    }
}

@media screen and (max-width: 1024px){
    .portafolioGaleria {
        max-width: 950px;
        margin: 0 auto;
        justify-content: center;
    }
    .portafolio{
        height: 260px;
        margin: .5rem .0rem;
        width: 260px;
        margin: 1rem 10px;
    }
    .portafolio__text-caption {
        position: relative;    
        padding: 12rem 1rem 3.2rem 1rem;
        transition: .3s ease all;
        h3 {
            font-size: 1.4em;
            color: #fff;
        }
    }
    .title-proyect {
        margin-top: 0rem;
    }
    .portafolio:hover{
        background-color: rgba(0,0,0,0.7);
        color: #fff;
        width: 260px;
        height: 260px;
        transition: .3s ease all;
        .portafolio__text-caption {
            opacity: 1;
            transform: translateY(-0px);  
            padding: 6.5rem 1rem 2rem;
            transition: margin-top 0.6s;
            transition: .3s ease all;
        }
    
    }
}

@media screen and (max-width: 768px){
    .portafolioGaleria {
        max-width: 600px;
        margin: 0 auto;
        justify-content: space-between;
    }
    .portafolio{
        height: 270px;
        margin: .5rem .0rem;
        width: 270px;
        margin: 1rem 10px;
        
    }
    .title-proyect {
        margin-top: 0rem;
    }
    .portafolio__text-caption {
        position: relative;    
        padding: 14rem 1rem 3rem 1rem;
        transition: .3s ease all;
        h3 {
            font-size: 1.3em;
            color: #fff;
        }
        p{
            font-weight: 400;
            display: none;
        }
    }
    
    .portafolio__bg-img {
        position: absolute;
        width: 100%;
        height: 270px;
        z-index: -1;
        transition: .3s ease all;
        display: block;
    
    }
    .portafolio:hover{
        background-color: rgba(0,0,0,0.7);
        color: #fff;
        width: 270px;
        height: 270px;
        transition: .3s ease all;
        .portafolio__text-caption {
            opacity: 1;
            transform: translateY(-0px);  
            padding: 7rem 1rem 2rem;
            transition: margin-top 0.6s;
            transition: .3s ease all;
        }
        p{
            transition: .3s ease all;
            color: #fff;
        } 
    
    }
}
@media screen and (max-width: 600px){
    .portafolioGaleria{
        padding-top: 1rem;
    }
    .portafolio{
        height: 270px;
        margin: .5rem .5rem;
        width: 270px;

    }
    .title-proyect {
        margin-top: -.5rem;
    }
    .portafolio__text-caption {
        position: relative;    
        padding: 12rem 2rem 4rem 2rem;
        transition: .3s ease all;
        h3 {
            font-size: 1.4em;
            color: #fff;
        }
        p{
            font-weight: 400;
            display: none;
        }
    }
    .portafolio__bg-img {
        position: absolute;
        width: 100%;
        height: 270px;
        z-index: -1;
        transition: .3s ease all;
        display: block;
    
    }
    .portafolio:hover{
        width: 270px;
        height: 270px;
        .portafolio__text-caption { 
            padding: 6rem 2rem 4.2rem;
        }
    
    }
} 
@media screen and (max-width: 580px){
    .portfolioFilter a {
        padding: 0 5px;
    }
    .title-proyect {
        margin-top:-1.5rem;
    }
    .portafolioGaleria{
        padding: 0rem;
        padding-bottom: 1rem;
        
    }
    .portafolio{
        height: 320px;
        width: 320px;
        margin-top: .9rem;
    }
    .portafolio__text-caption {
        position: relative;    
        padding: 14rem 2rem 4rem 2rem;
        transition: .3s ease all;
        h3 {
            font-size: 1.7em;
            color: #fff;
        }
        p{
            font-weight: 400;
            display: none;
        }
    }
    .portafolio__bg-img {
        position: absolute;
        width: 100%;
        height: 320px;
        z-index: -1;
        transition: .3s ease all;
        display: block;
    
    }
    .portafolio:hover{
        width: 320px;
        height: 320px;
        .portafolio__text-caption { 
            padding: 8rem 2rem 4.2rem;
        }
    
    }
}

@media screen and (max-width: 375px){
    .portafolioGaleria {
        padding: 6px;
    }
    .portafolio{
        margin-left: 12px;
    }
}

@media screen and (max-width: 370px){
    .portafolio{
        margin-left: 4px;
    }
}
