<div class="row-contacto">
    <div  class="contact row-content row-content_medium row-content-center_horizontal">
    	<div class="contact-wrapp">
	    	<h1 class="text-center title-mb">{{ contacto.LANG.maintitle.parte1 }} <br> {{ contacto.LANG.maintitle.parte2 }}</h1>
	    	<p class="text-center montserrat txt-principal">{{ contacto.LANG.maintext.parte1 }} <br> {{ contacto.LANG.maintext.parte2 }}</p>
	        
	        <form class="contact-form">
				<div class="form-group line-active">
                    <input type="text" class="form-input" placeholder="{{ contacto.LANG.formulario.nombre }}" data-ng-model="contacto.mailObj.name">
                    <div class="line-active"></div>
				</div>
				<div class="form-group">
                    <input type="text" class="form-input" placeholder="{{ contacto.LANG.formulario.correo }}" data-ng-model="contacto.mailObj.email">
                    <div class="line-active"></div>
				</div>
				<div class="form-group">
                    <input type="text" class="form-input" placeholder="{{ contacto.LANG.formulario.empresa }}" data-ng-model="contacto.mailObj.phone">
                    <div class="line-active"></div>
				</div>
				<div class="form-group">
					<textarea class="form-txtarea" placeholder="{{ contacto.LANG.formulario.proyecto }}" data-ng-model="contacto.mailObj.msj"></textarea>
				</div>
				<div class="form-group flex flex-center_horizontal">
					<button class="btn btn-default form-button" data-ng-click="contacto.sendMail()"> {{ contacto.LANG.formulario.boton }}</button>
				</div>
			</form>
			
			<div class="flex row-elements_between mont contact-info">
				<figure class="contact-badge text-center">
					<img src="res/img/Telefono-01.png" alt="">
					<figcaption>
						<b class="mont">{{ contacto.LANG.contactos.telefono }}</b>
						<p class="mont">(+505) 8853 9870</p>
					</figcaption>
				</figure>
				<figure class="contact-badge text-center">
					<img src="res/img/Mapa-01.png" alt="">
					<figcaption>
						<b class="mont">{{ contacto.LANG.contactos.titulodireccion }}</b>
						<p class="mont">{{ contacto.LANG.contactos.direccion }}</p>
					</figcaption>
				</figure>
				<figure class="contact-badge text-center">
					<img src="res/img/Buzon-01.png" alt="">
					<figcaption>
						<b class="mont">{{ contacto.LANG.contactos.correo }}</b>
						<p class="mont">contacto@bigbangnica.studio</p>
					</figcaption>
				</figure>
			</div>
			<iframe class="map-container" src="https://www.google.com/maps/embed?pb=!1m21!1m12!1m3!1d1296.8042740418107!2d-86.35661010025788!3d13.097823473313829!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d13.0980063!2d-86.356329!5e0!3m2!1sen!2s!4v1485989122647" allowfullscreen></iframe>
    	</div>
    </div>
</div>
<!--div class="row call row-content-center_vertical">
	<div class="row-content_medium">
		<h4 class="mont">Solicitá una llamada</h4>
		<form class="flex flex-row mont">
			<input class="form-input" type="text" placeholder="Nombre Completo">
			<input class="form-input" type="text" placeholder="Número Telefónico">
			<button class="btn mont"> Enviar </button>
		</form>		
	</div>
</div-->
