<div class="hablemos">
    <div class="hablemos_contenido">
        <h3 class="hablemos_title">
            {{ footer.LANG.maintitle }}
        </h3>
    </div>

    <div class="hablemos_contenido">
        <a href="" data-ui-sref="contacto" class="hablemos_btn">
            {{ footer.LANG.boton }} 
        </a>
    </div>
</div>

<footer>
    <div class="footer">

        <div class="footer_logo">
            <img src="res/img/B.png" class="footer_img" alt="Bigbang">
        </div>

        <div class="footer_contacto">
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <p>
                <span itemprop="addressLocality">{{ footer.LANG.direccion }}</span> <br>
                <span itemprop="email">{{ footer.LANG.correo }}</span> <br>
                <span itemprop="telephone">{{ footer.LANG.telefono }}</span>
            </p>
        </div>

        <div class="footer_social">
            <a class="btn-social" itemprop="sameAs" href="https://www.facebook.com/bigbangnica" target="_black"><i class="fab fa-facebook-f icon-social icoface"></i></a>
            <a class="btn-social" itemprop="sameAs" href="" target="_black"><i class="fab fa-twitter icon-social icotwitter"></i></a>
            <a class="btn-social" itemprop="sameAs" href="https://www.instagram.com/bigbangnica/" target="_black"><i class="fab fa-instagram icon-social icoinsta"></i></a>
            <a class="btn-social" itemprop="sameAs" href="https://www.behance.net/bigbangnica" target="_black"><i class="fab fa-behance icon-social icobehance"></i></a>
            <a class="btn-social" itemprop="sameAs" href="" target="_black"><i class="fab fa-linkedin-in icon-social icolinkedin"></i></a>
        </div>

        <div class="footer_copyright">
            <p class="footer_copyright_text">
                <span class="far fa-copyright"></span> 2018 BIGBANG STUDIO. {{ footer.LANG.copy }}
            </p>
        </div>
        
    </div>
</footer>
