<div class="hablemos">
    <div class="hablemos_contenido">
        <h1 class="hablemos_title">
            Tu proyecto comienza aquí
        </h1>
    </div>

    <div class="hablemos_contenido">
        <a href="" data-ui-sref="contacto" class="hablemos_btn">
            ¡Hablemos! 
        </a>
    </div>
</div>

<footer>
    <div class="footer">

        <div class="footer_logo">
            <img src="res/img/B.png" class="footer_img" alt="Bigbang">
        </div>

        <div class="footer_contacto">
            <p>
                Semáforo viejo 1 1/2 cuadras
                al norte. Estelí, Nicaragua.
                contacto@bigbangnica.studio <br>
                Tel.: (505) 8853 9870
            </p>
        </div>

        <div class="footer_social">
            <a class="btn-social" href="https://www.facebook.com/bigbangnica" target="_black"><i class="fab fa-facebook-f icon-social icoface"></i></a>
            <a class="btn-social" href="" target="_black"><i class="fab fa-twitter icon-social icotwitter"></i></a>
            <a class="btn-social" href="https://www.instagram.com/bigbangnica/" target="_black"><i class="fab fa-instagram icon-social icoinsta"></i></a>
            <a class="btn-social" href="https://www.behance.net/bigbangnica" target="_black"><i class="fab fa-behance icon-social icobehance"></i></a>
            <a class="btn-social" href="" target="_black"><i class="fab fa-linkedin-in icon-social icolinkedin"></i></a>
        </div>

        <div class="footer_copyright">
            <p class="footer_copyright_text">
                <span class="far fa-copyright"></span> 2018 BIGBANG STUDIO. TODOS LOS DERECHOS RESERVADOS
            </p>
        </div>

    </div>
</footer>
