<header class="header">
    <div class="header-row">
        <a data-ui-sref="/">
            <img class="header__logo" src="res/img/logo.png"  alt="logo">
            <img  class="header__icon" src="res/img/icon.png" alt="icono">

            <img class="header-logo" src="res/img/logo gris.png" alt="logo">
        </a>
        <nav-component class="nav-component"></nav-component>
    </div>    
</header>
<div class="menu-wrapper" data-ng-click="header.showMenu()">
    <div class="hamburger"></div>
</div>