<nav class="nav">
    <div class="row">
        <div class="nav__link-wrapper">
            <a class="nav__link" data-ui-sref="/" data-ui-sref-active="nav__link--is-active"> Inicio </a>
            <a class="nav__link" data-ui-sref="#" data-ui-sref-active="nav__link--is-active"> Servicios </a>
            <a class="nav__link" data-ui-sref="#" data-ui-sref-active="nav__link--is-active"> Portafolio </a>
            <a class="nav__link" data-ui-sref="#" data-ui-sref-active="nav__link--is-active"> Cultura </a>
            <a class="nav__link" data-ui-sref="#" data-ui-sref-active="nav__link--is-active"> Contácto </a>
        </div>
    </div>
</nav>