<nav class="nav">
    <div class="row">
        <img class="menu-icon" src="res/img/B.png" alt="menu-icon">
        <div class="nav__link-wrapper">
            <a class="nav__link" data-ui-sref="/" data-ui-sref-active="nav__link--is-active" data-ng-click="nav.closeMenu()"> Inicio </a>
            <!--<a class="nav__link" data-ui-sref="servicios" data-ui-sref-active="nav__link--is-active" data-ng-click="nav.closeMenu()"> Servicios </a>
            <a class="nav__link" data-ui-sref="#" data-ui-sref-active="nav__link--is-active" data-ng-click="nav.closeMenu()"> Portafolio </a>
            <a class="nav__link" data-ui-sref="#" data-ui-sref-active="nav__link--is-active"> Cultura </a>-->
            <a class="nav__link" data-ui-sref="contacto" data-ui-sref-active="nav__link--is-active" data-ng-click="nav.closeMenu()"> Contacto </a>
        </div>
    </div>
</nav>
