.banner_service{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 520px;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto; 
    padding-top: .2rem; 
    padding-bottom: 2rem;
}

.banner_figure{
    width: 50%;
    .banner-circle-red{
        background-color: #E13639;
        border-radius: 50%;
        float: right;
        height: 320px;
        padding: 4.8rem;
        width: 320px;
        margin-right: 3rem;
    }
    .banner-vector{
        margin-left: 2.1rem;
        width: 160px;
    }
}

.banner_services_text{
    width: 50%;
    float: left;
    padding-top: 2.8rem;
    padding-right: 3rem;
    font-weight: 600;

    .bannerdev_title{
        font-size: 3.4rem;
        font-weight: 800;
        margin-left: -4.5rem;
    }
}

.services-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.figure_services_content{
    height: 480px;
    width: 100%;
}

.img-sitioweb{
    background-image: url(../../res/img/recursos/webfarem.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-aplicaciones{
    background-image: url(../../res/img/recursos/aplicaciones.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-sistemas{
    background-image: url(../../res/img/recursos/Isnaya.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.services_text_content{
    position: relative;
    padding: 5rem 2rem 1rem 2rem;
    width: 30%;
    margin-left: 5rem;
    padding-top: 5rem;

    p{
        font-weight: 500;
        height: 75px;
    }
}
.derecha{
    float: right;
    padding: 5rem 5rem 1rem;
}
.services_title{
    font-size: 2.5em;
    font-weight: 800;
    width: 230px;
    margin-top: 2.5rem;
}
.btn {
    background-color: #E13639;
    color: #fff;
    border-radius: 7px;
    border: none;
    position: relative;
    -webkit-transition: .2s ease-out;
    transition: .2s ease-out;
    white-space: normal;
    word-wrap: break-word;
    cursor: pointer;
}

.btn-cotizar{
    float: left;
    font-size: .9em;
    font-weight: 600;
    padding: .4em 3.4em;
    margin-top: 0.7rem;
}
.figure_services_content:nth-child(even) .services_text_content {
    float: right;
    width: 31%;
}

.enlaces{
    display: flex;

    a{
        width: 50%;
    }
}

.service-enlace{
    text-align: center;
    padding: 6rem 0;
    font-size: 1.5em;
    font-weight: 600;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
}

.service-enlace:hover,.service-enlace:focus{
    background-color: rgba(0,0,0,0.6);
}

.img-enlace-di{
    background-image: url(../../res/img/recursos/enlace-di.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-enlace-ma{
    background-image: url(../../res/img/recursos/enlace-mar.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.img-enlace-de{
    background-image: url(../../res/img/recursos/enlace-dev.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
//full resolucion
@media screen and (min-width: 1600px){
    .figure_services_content {
        height: 670px;
    }
    .services_text_content {
        width: 35%;
        padding-top: 12rem;
    }
    .services_title {
        font-size: 3em;
    }
    .services_text_content p {
        font-weight: 500;
        font-size: 1.3em;
    }
    .btn-cotizar {
        font-size: 1.1em;
    }
}


/*Resolucion de pantalla tablet horizontal*/
@media screen and (max-width: 1024px){
    .figure_services_content {
        height: 364px!important;
    }
    .services_text_content {
        width: 44%;
    }
    .figure_services_content:nth-child(2n) .services_text_content {
        float: right;
        width: 39%;
    }
    .services_title {
        margin-top: -1.6rem;
    }
    .derecha {
        float: right;
        padding: 3rem 5rem 1rem;
    }

    .service-enlace {
        padding: 4.7rem 0;
    }

    .services_text_content p {
        font-weight: 500;
        height: 75px;
        width: 400px;
    }

}
/*Resolucion de pantalla tablet vertical*/
@media screen and (max-width: 768px){
    .banner_figure .banner-circle-red {
        height: 290px;
        padding: 4rem;
        width: 290px;
    }

    .banner_figure .banner-vector {
        margin-left: 2rem;
    }

    .figure_services_content {
        height: 274px!important;
        width: 100%;
    }

    .figure_services_content:nth-child(2n) .services_text_content {
        width: 39%;
    }

    .services_text_content {
        width: 50%;
        margin-left: 0rem;
        padding-top: 3rem;

        p {
            font-weight: 500;
            height: 87px;
            width: 320px;
        }
    }

    .derecha {
        float: right;
        padding: 1rem 1rem 0rem;
    }
    .btn-cotizar {
        float: left;
        padding: .4em 3.4em;
        margin-top: 0rem;
    }
    .services_title {
        font-size: 2em;
        font-weight: 800;
        margin-top: -1.2rem;
    }
   
    .banner {
        height: 385px;
        margin-left: -1.7rem;
        margin-right: -1.6rem;
        margin-top: 0rem;
        padding: 2rem;
    }

    .banner_title{
        font-size: 3em;
        font-weight: 800;
    }

    .enlace__bg-img {
        height: 169px;
    }
    .service-enlace {
        padding: 3.2rem 0;
    }

    .header {
        height: 65px;
    }
}
/*Resolucion de pantalla movil vertical*/
@media screen and (max-width: 700px){
    .banner{
        height: 310px;
    }
    .icon-white {
        font-size: 26px;
        margin-top: 0rem;
        padding: 1px 10px;
    }
    .banner_text {
        font-size: 1.2em;
        width: 510px;
    }
    .banner_figure {
        .banner-circle-red {
            height: 200px;
            padding: 2.5rem;
            width: 200px;
        }
        .banner-vector {
            margin-left: 1rem;
            width: 110px;
        }
    }
    .icon{
        display: none;
    }
    .banner_service {
        height: 215px;
    }
    .banner_services_text .bannerdev_title {
        font-size: 2rem;
        margin-top: .9rem;
    }
   
    .main-servicios-title {
        margin-top: 1rem;
        margin-bottom: -0.5rem;
    }
    
    .services_text_content {
        width: 52%;
        margin-left: 0rem;
        padding: 1rem 1rem 1rem;
        padding-top:4rem;
    }
    .derecha {
        float: right;
        padding: 1rem 0rem;
        padding-left: 1rem;
        padding-top: 3rem;
    }
    .services_title {
        font-size: 1.9em;
        font-weight: 800;
    }
    .servicio__text-caption h3 {
        font-size: 1.5em;
    }
    .services_text_content p {
        width: 297px;
        height: 110px;
    }

    .img-sitioweb{
        background-image: url(../../res/img/recursos/web-mobil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-aplicaciones{
        background-image: url(../../res/img/recursos/aplicacion-mobil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-sistemas{
        background-image: url(../../res/img/recursos/isnaya-mobil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

    .footer {
        height: 95px;
    }

    .footer_contacto {
        font-size: 12px;
    }

    .figure_services_content:nth-child(2n) .services_text_content {
        float: right;
        width: 44%;
    }

    .figure_services_content {
        height: 460px!important;
    }

    .enlace__bg-img{
        height: 150px;
    }
    .service-enlace {
        padding: 3.8rem 0;
    }
}
/*Resolucion de pantalla mobil vertical*/
@media screen and (max-width: 580px){
    .banner_service{
        height: 215px;
    }
    .banner_figure{
        width: 25%;
        .banner-circle-red{
            background-color: #E13639;
            border-radius: 50%;
            height: 130px;
            padding: 1.8rem;
            width: 130px;
            margin-right: 5.2rem;
            margin-top: -4rem;
        }
        .banner-vector{
            margin-left: .6rem;
            width: 75px;
        }
    }

    .banner_services_text{
        font-weight: 600;
        position: absolute;
        padding-top: 2.1rem;
        .bannerdev_title{
            font-size: 1.8em;
            font-weight: 800;
            margin-left: 2.3rem;
            margin-top: .9rem;
        }

        p{
            margin-left: 3.7rem;
            width: 205px; 
            font-weight: 500;          
        }
    }

    .main-servicios-title {
        margin-top: 0rem;
    }
    .banner {
        height: 260px;
    }

    .services_text_content{
        position: relative;
        padding: 1.2rem;
        width: 44%;
        margin-left: 0rem;
        padding-top: 1.4rem;

        p{
            font-weight: 400;
            line-height: 1;
            width: 160px;
            margin-top: .3rem;
            margin-bottom: .3rem;
            height: 110px; 
        }

        .services_title{
            font-size: 1.4em;
            width: 130px;
            line-height: 1;
            margin-bottom: .5rem;
            margin-top: 1rem;
        }
    }

    .btn-cotizar{
        margin-top: .4rem;
        padding: .4em 2.2em;
    }

    .img-sitioweb{
        background-image: url(../../res/img/recursos/web-mobil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-aplicaciones{
        background-image: url(../../res/img/recursos/aplicacion-mobil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-sistemas{
        background-image: url(../../res/img/recursos/isnaya-mobil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .footer {
        height: 190px;
    }

    .footer_contacto {
        font-size: 10px;
    }
    .footer_img {
        width: 60px;
    }

    .figure_services_content {
        height: 263px!important;
        width: 100%;
    }

    .figure_services_content:nth-child(even) .services_text_content {
        width: 40%;
    }


    .service-enlace{
        height: 29px;
    }

    .enlaces{
        display: flex;   
        a{
            width: 100%;
        }
    }
    .service-enlace {
        padding: 3.8rem 0;
    }

    .enlace__bg-img {
        width: 100%;
        height: 150px;
    }


    .img-enlace-di{
        background-image: url(../../res/img/recursos/enlace-di-movil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-enlace-ma{
        background-image: url(../../res/img/recursos/enlace-mar-movil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .img-enlace-de{
        background-image: url(../../res/img/recursos/enlace-dev-movil.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }

}