.header {
    .row {
        display: flex;
        /* flex-direction: row; (row default) */
        flex-wrap: wrap; // (nowrap default)
        justify-content: space-between; // x axis - (flex-start default)
        align-items: center; // y axis | (stretch default)
        align-content: center; // for many lines of items (stretch default)

        //@include md {
        //    width: 1200px;
        //    max-width: 1200px;
        //    margin: 0 auto;
        //}
    }

    @extend .container;
}
//.logo {
    //@include md {
    //    width: 150px;
    //}
//}
@import '_menu-button.scss';
