main {
    padding-top: 125px;
}
.header-cultura {
    background-color: transparent !important;
}
.header {
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    height: 50px;

    #{&}-row {
        display: flex;
        /* flex-direction: row; (row default) */
        flex-wrap: wrap; // (nowrap default)
        justify-content: space-between; // x axis - (flex-start default)
        align-items: center; // y axis | (stretch default)
        align-content: center; // for many lines of items (stretch default)
        padding: 1rem;
        //@include md {
        //    width: 1200px;
        //    max-width: 1200px;
        //    margin: 0 auto;
        //}
    }

    .header__icon {
        display: none;
        width: 78px;
    }

    @extend .container;
}
@media screen and(max-width: 600px) {
    main{
        padding-bottom: 0;
    }
    .header {
        position: initial;
    }
    .header .header__icon {
        display: block;
    }
    .header .header__logo, .header .header-logo {
        display: none;
    }
    .nav .nav__link-wrapper {
        width: 70%;
        margin-bottom: 0.2rem;
        margin-left: 1rem;
    }
}
//.logo {
    //@include md {
    //    width: 150px;
    //}
//}
@import '_menu-button.scss';
