.menu-wrapper {
    width: 60px;
    height: 60px;
    //border: 1px solid #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: $redB;
    box-shadow: -2px 3px 8px 1px rgba(0,0,0, 0.5);
    //@include mediaquery('large') {
    //  display: none;
    //}
  }
  .menu-wrapper--white {
    border-color: #fff;
  }
  .menu-wrapper:hover{
    cursor: pointer;
  }
  .hamburger, .hamburger:before,.hamburger:after {
    display: block;
    width: 30px;
    height: 0;
    border-top: 1px solid #fff;
    transition: .4s ease all;
  }
  .hamburger:before,.hamburger:after {
    content: "";
    position: relative;
    left: 0;
  }
  .hamburger:before {
    bottom: -8px;
  }
  .hamburger:after {
    top: -10px;
  }
  .togle {
    border-top-color: transparent;
  }
  .togle:before {
    bottom: 0;
    transform: rotate(50deg);
    border-top-color: #fff;
  }
  .togle:after {
    top: 0;
    transform: rotate(-50deg);
    border-top-color: #fff;
  }
  