.row-cultura{
    padding: 0.5em 1em;
}

.banner-cultura{
    align-items:  center;
    background:url("../../res/img/recursos/Foto BigBang.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 544px;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -1.7rem;
    margin-right: -1.6rem;
    margin-top: -3rem;    
    padding: 3rem;
}

.contenedor-valores{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 2rem 0;
}
.valores_maintitle{
    text-align: center;
    margin-bottom: .5rem;
    margin-top: 2.5rem;
}
.valores{
    max-width: 33%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    margin-top: 2.5rem ;
}
.contenedor-img-valores{
    width: 32%;
}
.valores-img{
    width: 110px;
}
.cc{
    width:100px;
}
.valores-title{
    font-weight: 800;
    margin-bottom: -.5rem;
}
.valores__text-caption{
    width: 68%;

    p{
        font-weight: 500;
    }
}

.video_maintitle{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.nuestro-ideales{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 2rem 0;
    margin-top: -4rem;
}

.contenedor-title{
    width: 35%;
}

.media-luna{
    background-color: #E13639;
    height: 360px;
    margin-top: -6rem;
    width: 360px;
    border-radius: 50%;
    margin-left: -16rem;
}
.text-contenedor-ideal{
    margin-top: 9rem;
    margin-left: 0;
}
.ideales-maintitles{
    color: #E13639;;
    font-size: 3em;
    font-weight: 900;
    line-height: 1.1;
}
.espaciotitle{
    margin-left: 4.7rem;
}

.contenedor-ideales{
    width: 65%;
    padding-left: 1rem;
}
.aporte-ideales {
    padding: 10px;
}

.ideales-titles {
    font-size: 1.6em;
    font-weight: 800;
    line-height: 1.1;
    margin-top: 3.6rem;
}

.ideales_text {
    font-size: 14px;
    font-weight: 500;
}
.ideal_before, .ideal_before-2, .ideal_before-3{
    width: 0;
    height: 0;
    max-width: 0;
    max-height: 0;
    display: inline;
    position: absolute;
}
.ideal_before:after {
    content: '01';
    position: relative;
    font-weight: 900;
    top: 1.5rem;
    left: -2.3rem;
    font-size: 3em;
    opacity: .2;
}
.ideal_before-2:after {
    content: '02';
    position: relative;
    font-weight: 900;
    top: 1.5rem;
    left: -2.3rem;
    font-size: 3em;
    opacity: .2;
}

.ideal_before-3:after {
    content: '03';
    position: relative;
    font-weight: 900;
    top: 1.5rem;
    left: -2.3rem;
    font-size: 3em;
    opacity: .2;
}


//equipo de trabajo 
.equipo{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 1rem 0;
}
.equipo_maintitle{
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    text-align: center;
}
.integrante-equipo {
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 325px;
    cursor: pointer;
}
.integrante_bg-img {
    position: absolute;
    width: 100%;
    z-index: -1;
    transition: .3s ease all;
    display: block;
   
}
.integrante_text-caption {
    position: relative;    
    //padding: 16.6rem 0rem;
    padding: 11.5rem 0rem;
    transition: .3s ease all;
    //background-color: rgba(0,0,0,0.3);
    h3 {
        font-size: 1.9em;
        color: #fff;
        line-height:1.1;
    } 
    p{
        color: #fff;
        display: none;
        font-weight: 400;
        text-align: center;
    }
    .circulo-mascara{
        background-color: #E13639;
        border-radius: 50%;
        height: 230px;
        margin-top: -13rem;
        margin-left: -1rem;
        margin-bottom: 0;
        opacity: .4;
        width: 230px;
        z-index: 1;
        position: absolute;
    }
}
.equipo-nombre{
    text-align: center;
}
.cargo{
    font-size: 1.2em;
    font-weight: 700;
}

/* .integrante_text-caption:hover{
    //position: relative;  
    padding: 11rem 2rem 2rem 2rem;
    // transition: .3s ease all;
    // height: 50px;
    .integrante-txt{
        background: #323232;
        display: block;
        transition: .3s ease all;
        width: 100%;
    }
} */

.integrante-equipo:hover{
/*     background-color: rgba(0,0,0,0.7);
    color: #fff;
    width: 360;
    height: 360px;
    transition: .3s ease all; */
    .integrante_text-caption {
        /* opacity: 1;
         transform: translateY(-0px);  
        // margin-top: .5rem;
        transition: margin-top 0.6s;
        transition: .3s ease all;
        padding: 13rem 0rem; */

        .content-info-equipo{
            margin-top: 2.2rem;
        }
        .integrante-txt{  

            background: #323232; 
            color: #fff;
            display: block;
            transition: .3s ease all;
            padding: 1rem;
            font-weight: 300;
        } 
        .txt-integrante{
            font-weight: 500;
        }
    }
    
}

@media screen and (max-width: 1024px){
    .banner-cultura{
        height: 413px;
    }
    .text-contenedor-ideal {
        margin-top: 9.2rem;
    }
}

@media screen and (max-width: 768px){
    .banner-cultura{
        height: 310px;
    }
    .valores_maintitle {
        margin-top: 1rem;
    }
    .contenedor-valores {
        padding: 1rem 0;
    }
    .valores {
        max-width: 45%;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
    .nuestro-ideales {
        padding: 1rem 0;
    }

}
@media screen and (max-width: 580px){
    .banner-cultura {
        height: 213px;
        margin-top: .2rem;
        background-image: url("../../res/img/recursos/baner cultura mobil.jpg");
    }
    .valores_maintitle {
        margin-top: -1rem;
    }
    .valores {
        max-width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .valores-img {
        width: 90px;
    }
    .cc{
        width: 85px;
    }
    .nuestro-ideales {
        margin-top: -12rem;
    }
    .contenedor-ideales {
        width: 100%;
        padding-left: 1rem;
    }
    .ideales-maintitles {
        font-size: 2.5em;
        margin-left: 2.5rem;
    }
    .espaciotitle {
        margin-left: 4rem;
    }
    .aporte-ideales {
        padding: 1px 20px;
    }
    .contenedor-title {
        width: 100%;
    }

    .media-luna {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        margin-left: -9rem;
    }
}