<div class="container">

    <div class="row-cultura">
        <div class="banner-cultura">
        </div>
    </div>

    <div class="row">
        <h1 class="valores_maintitle red h1-responsive"><span class="punto">· </span>{{ cultura.LANG.valoresmaintitle}}<span class="punto"> .</span></span></h1>

        <div class="contenedor-valores">

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/innovacion.png" alt="">
                </div>
                
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">{{ cultura.LANG.valores.innovacion.titulo }}<span class="red">.</span></h2>
                    <p class="">
                        {{ cultura.LANG.valores.innovacion.parrafo }}
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/calidad.png" alt="">
                </div>

                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">{{ cultura.LANG.valores.calidad.titulo }}<span class="red">.</span></h2>
                    <p class="">
                        {{ cultura.LANG.valores.calidad.parrafo }}
                    </p>
                </figcaption>
            </figure> 
                       
            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/pasion.png" alt="">
                </div>

                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">{{ cultura.LANG.valores.pasion.titulo }}<span class="red">.</span></h2>
                    <p class="">
                        {{ cultura.LANG.valores.pasion.parrafo }}
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/aprendizajes.png" alt="">
                </div>
    
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">{{ cultura.LANG.valores.aprendizaje.titulo }}<span class="red">.</span></h2>
                    <p class="">
                       {{ cultura.LANG.valores.aprendizaje.parrafo }} 
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img cc" src="res/img/recursos/cliente centrico.png" alt="">
                </div>
    
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">{{ cultura.LANG.valores.cliente.titulo }}<span class="red">.</span></h2>
                    <p class="">
                        {{ cultura.LANG.valores.cliente.parrafo }} 
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/prof.png" alt="">
                </div>
    
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">{{ cultura.LANG.valores.profesionalismo.titulo }}<span class="red">.</span></h2>
                    <p class="">
                        {{ cultura.LANG.valores.profesionalismo.parrafo }} 
                    </p>
                </figcaption>
            </figure>

        </div>
    </div>

    <div class="row">

        <div class="nuestro-ideales">

            <div class="contenedor-title">
                <div class="text-contenedor-ideal">
                    <p class="ideales-maintitles">{{ cultura.LANG.idealesmaintitle.parte1 }}  <br>
                        <span class="espaciotitle">{{ cultura.LANG.idealesmaintitle.parte2 }}</span>
                    </p>
                </div>    
                
                <div class="media-luna"></div>

            </div>

            <div class="contenedor-ideales">

                <div class="aporte-ideales">
                    <div class="ideal_before"></div>
                    <p class="ideales-titles">{{ cultura.LANG.ideales.ideales1.titulo1 }} <br> {{ cultura.LANG.ideales.ideales1.titulo2 }}<span class="punto red">.</span></p>
                    <p class="ideal_text">
                        "{{ cultura.LANG.ideales.ideales1.parrafo }}". 
                    </p>
                </div>

                <div class="aporte-ideales">
                    <div class="ideal_before-2"></div>
                    <p class="ideales-titles">{{ cultura.LANG.ideales.ideales2.titulo1 }} <br> {{ cultura.LANG.ideales.ideales2.titulo2 }}<span class="punto red">.</span></p>
                    <p class="ideal_text">
                        "{{ cultura.LANG.ideales.ideales2.parrafo }}". 
                    </p>
                </div>

                <div class="aporte-ideales">
                    <div class="ideal_before-3"></div>
                    <p class="ideales-titles">{{ cultura.LANG.ideales.ideales3.titulo1 }} <br> {{ cultura.LANG.ideales.ideales3.titulo2 }}<span class="punto red">.</span></p>
                    <p class="ideal_text">
                        "{{ cultura.LANG.ideales.ideales3.parrafo }}". 
                    </p>
                </div>
                        
            </div>    
        </div>   

    </div>

	<div class="row">
        <h1 class="video_maintitle red h1-responsive">{{ cultura.LANG.pregunta }}</span></h1>
        <div class="video">
            <iframe class="video_stream" modestbranding=1 data-channel="BigBang Studio" src="https://www.youtube.com/embed/41fxMGhEtpw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
        <h1 class="equipo_maintitle red h1-responsive"><span class="punto">· </span>{{ cultura.LANG.tituloequipo }}<span class="punto"> .</span></span></h1>
        <div class="equipo">
    
            <!-- <a href="" >
                <figure class="integrante-equipo">
                    <img class="integrante_bg-img" src="res/img/recursos/brandon.jpg" alt="">
                    <figcaption class="integrante_text-caption">
                         <div class="circulo-mascara"></div> 

                        <div class="content-info-equipo">                       
                            <p class="integrante-txt">
                                <span class="txt-integrante"> Startwars lover</span> <br> "El dueño del local" <br><br> Hola a todos
                            </p>
                        </div>

                    </figcaption>
                </figure>
                <p class="equipo-nombre"><span class="cargo">Brandon Blandon</span> <br> <span>Director General</span></p>
            </a>

            -->
            <a  id="btn_perfil" data-ng-repeat=" integrante in cultura.integrantes" data-ng-click="cultura.abrirModal(integrante)">
                 <figure class="integrante-equipo">
                    <img class="integrante_bg-img" src="{{ integrante.mainimagen }}" alt="{{ cultura.miembro.name }}">
                    <figcaption class="integrante_text-caption">
                        <!-- <div class="circulo-mascara"></div> -->
                        
                        <div class="content-info-equipo">                       
                            <p class="integrante-txt">
                                <span class="txt-integrante"> {{integrante.fan}}</span> <br> "{{integrante.broma}}"  <br><br> {{integrante.saludo}}
                            </p>
                        </div>
                    </figcaption>
                </figure>
                <p class="equipo-nombre">{{ integrante.name }} <br><span class="cargo">{{ integrante.cargo }}</span></p>
            </a>             
    
        </div>
    </div>

</div>

<!--Modal-->
<div id="Modalperfil" class="modal modal-perfil-princ" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-perfil">
            <div class="modal-body-perfil modal-perfil" id="mod-body">

                <div class="cont-perfil-image">
                    <img class="img-perfil-BB" src="{{ cultura.miembro.imagenperfil }}" alt="{{ cultura.miembro.name }}">

                    <div class="content-inspiraciones">
                        <div class="intereses">
                            <h3 class="title-linea-small">Intereses </h3>
                            <div class="linea-small"></div>
                            <p class="txt-intereses" data-ng-repeat=" intereses in cultura.miembro.intereses">
                                {{ intereses}}

                                
                            </p>
                        </div>

                        <div class="aficiones">
                            <h3 class="title-linea-small">Aficiones </h3>
                            <div class="linea-small"></div>

                            <p class="txt-intereses"data-ng-repeat=" aficiones in cultura.miembro.aficiones">
                                {{ aficiones }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="descipcion-personal">
                    <button type="button" class="close closeapp closemodal-perfil" data-dismiss="modal" aria-label="Close"  data-ng-click="cultura.cerrarmodal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <p class="title-persona"> {{ cultura.miembro.name }} <br><span class="cargo-persona">{{ cultura.miembro.cargo }}</span></p>

                    <p class="txt-descripcion-personal">
                        {{ cultura.miembro.descripcion }} 
                    </p>

                    <div class="btn_social-perfil" >
        
                        <div class="btn-soc-perfil" data-ng-repeat="red in cultura.miembro.redsocial" >
                            <a href="{{ red.enlace}}"  target="_black">
                                <i class="fab {{ red.icono }} icon-social-perfil"></i>
                            </a>
                        </div>

                    </div>


                    <div class="content-inspiraciones movil">
                        <div class="intereses">
                            <h3 class="title-linea-small">Intereses </h3>
                            <div class="linea-small"></div>

                            <p class="txt-intereses" data-ng-repeat=" intereses in cultura.miembro.intereses">
                                {{ intereses}}
                            </p>
                        </div>

                        <div class="aficiones">
                            <h3 class="title-linea-small">Aficiones </h3>
                            <div class="linea-small"></div>

                            <p class="txt-intereses" data-ng-repeat=" aficiones in cultura.miembro.aficiones">
                                {{ aficiones }}
                            </p>
                        </div>
                    </div>
                    

                    <h3 class="title-linea">Referencias e inspiraciones </h3>
                    <div class="linea"></div>

                    <div class="cont-inspiracion">
                        <div class="img-inspiracion" data-ng-repeat="ref in cultura.miembro.referencia">
                            <img src="{{ ref.enlace }}" alt="">
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>