<div class="container">

    <div class="row-cultura">
        <div class="banner-cultura">
        </div>
    </div>

    <div class="row">
        <h1 class="valores_maintitle red h1-responsive"><span class="punto">· </span>Nuestros valores<span class="punto"> .</span></span></h1>

        <div class="contenedor-valores">

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/innovacion.png" alt="">
                </div>
                
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">Innovación<span class="red">.</span></h2>
                    <p class="">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial. 
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/calidad.png" alt="">
                </div>

                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">Calidad<span class="red">.</span></h2>
                    <p class="">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial.
                    </p>
                </figcaption>
            </figure> 
                       
            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/pasion.png" alt="">
                </div>

                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">Pasión<span class="red">.</span></h2>
                    <p class="">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial. 
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/aprendizajes.png" alt="">
                </div>
    
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">Aprendizaje<span class="red">.</span></h2>
                    <p class="">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial. 
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img cc" src="res/img/recursos/cliente centrico.png" alt="">
                </div>
    
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">Cliente céntrico<span class="red">.</span></h2>
                    <p class="">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial. 
                    </p>
                </figcaption>
            </figure>

            <figure class="valores">
                <div class="contenedor-img-valores">
                    <img class="valores-img" src="res/img/recursos/prof.png" alt="">
                </div>
    
                <figcaption class="valores__text-caption">
                    <h2 class="valores-title">Profesionalismo<span class="red">.</span></h2>
                    <p class="">
                        Establecer relaciones de valor entre el cliente y la empresa es vital para el éxito
                        empresarial. 
                    </p>
                </figcaption>
            </figure>

        </div>
    </div>

    <div class="row">

        <div class="nuestro-ideales">

            <div class="contenedor-title">
                <div class="text-contenedor-ideal">
                    <p class="ideales-maintitles">Nuestros <br>
                        <span class="espaciotitle">Ideales</span>
                    </p>
                </div>    
                
                <div class="media-luna"></div>

            </div>

            <div class="contenedor-ideales">

                <div class="aporte-ideales">
                    <div class="ideal_before"></div>
                    <p class="ideales-titles">Crecimiento <br> Social<span class="punto red">.</span></p>
                    <p class="ideal_text">
                        "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quos ipsam sed, non aut harum voluptate.
                         Eaque nesciunt blanditiis voluptates ipsa nihil, quia excepturi sed iste quos incidunt earum magnam". 
                    </p>
                </div>

                <div class="aporte-ideales">
                    <div class="ideal_before-2"></div>
                    <p class="ideales-titles">Crecimiento <br> Social<span class="punto red">.</span></p>
                    <p class="ideal_text">
                        "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quos ipsam sed, non aut harum voluptate.
                        Eaque nesciunt blanditiis voluptates ipsa nihil, quia excepturi sed iste quos incidunt earum magnam". 
                    </p>
                </div>

                <div class="aporte-ideales">
                    <div class="ideal_before-3"></div>
                    <p class="ideales-titles">Crecimiento <br> Social<span class="punto red">.</span></p>
                    <p class="ideal_text">
                        "Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo quos ipsam sed, non aut harum voluptate.
                        Eaque nesciunt blanditiis voluptates ipsa nihil, quia excepturi sed iste quos incidunt earum magnam". 
                    </p>
                </div>
                        
            </div>    
        </div>   

    </div>

	<div class="row">
        <h1 class="video_maintitle red h1-responsive">¿Quiénes somos?</span></h1>
        <div class="video">
            <iframe class="video_stream" modestbranding=1 data-channel="BigBang Studio" src="https://www.youtube.com/embed/41fxMGhEtpw?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>

    <div class="row">
            <h1 class="equipo_maintitle red h1-responsive"><span class="punto">· </span>El equipo<span class="punto"> .</span></span></h1>
        <div class="equipo">
    
            <!-- <a href="" >
                <figure class="integrante-equipo">
                    <img class="integrante_bg-img" src="res/img/recursos/brandon.jpg" alt="">
                    <figcaption class="integrante_text-caption">
                         <div class="circulo-mascara"></div> 

                        <div class="content-info-equipo">                       
                            <p class="integrante-txt">
                                <span class="txt-integrante"> Startwars lover</span> <br> "El dueño del local" <br><br> Hola a todos
                            </p>
                        </div>

                    </figcaption>
                </figure>
                <p class="equipo-nombre"><span class="cargo">Brandon Blandon</span> <br> <span>Director General</span></p>
            </a>

            -->
            <a  id="btn_perfil" data-ng-repeat=" integrante in cultura.integrantes" data-ng-click="cultura.abrirModal(integrante)">
                 <figure class="integrante-equipo">
                    <img class="integrante_bg-img" src="{{ integrante.mainimagen }}" alt="">
                    <figcaption class="integrante_text-caption">
                        <!-- <div class="circulo-mascara"></div> -->
                        
                        <div class="content-info-equipo">                       
                            <p class="integrante-txt">
                                <span class="txt-integrante"> {{integrante.fan}}</span> <br> "{{integrante.broma}}"  <br><br> {{integrante.saludo}}
                            </p>
                        </div>
                    </figcaption>
                </figure>
                <p class="equipo-nombre">{{ integrante.name }} <br><span class="cargo">{{ integrante.cargo }}</span></p>
            </a>             
    
        </div>
    </div>

</div>

<!--Modal-->
<div id="Modalperfil" class="modal modal-perfil-princ" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-content-perfil">
            <div class="modal-body-perfil modal-perfil" id="mod-body">

                <div class="cont-perfil-image">
                    <img class="img-perfil-BB" src="{{ cultura.miembro.imagenperfil }}" alt="{{ cultura.miembro.name }}">

                    <div class="content-inspiraciones">
                        <div class="intereses">
                            <h3 class="title-linea-small">Intereses </h3>
                            <div class="linea-small"></div>

                            <p class="txt-intereses" data-ng-repeat=" intereses in cultura.miembro.intereses">
                                {{ intereses}}
                            </p>
                        </div>

                        <div class="aficiones">
                            <h3 class="title-linea-small">Aficiones </h3>
                            <div class="linea-small"></div>

                            <p class="txt-intereses"data-ng-repeat=" aficiones in cultura.miembro.aficiones">
                                {{ aficiones }}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="descipcion-personal">
                    <button type="button" class="close closeapp closemodal-perfil" data-dismiss="modal" aria-label="Close"  data-ng-click="cultura.cerrarmodal()">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <p class="title-persona"> {{ cultura.miembro.name }} <br><span class="cargo-persona">{{ cultura.miembro.cargo }}</span></p>

                    <p class="txt-descripcion-personal">
                        {{ cultura.miembro.descripcion }} 
                    </p>

                    <div class="btn_social-perfil" >
        
                        <div class="btn-soc-perfil" data-ng-repeat="red in cultura.miembro.redsocial" >
                            <a href="{{ red.enlace}}"  target="_black">
                                <i class="fab {{ red.icono }} icon-social-perfil"></i>
                            </a>
                        </div>

                    </div>


                    <div class="content-inspiraciones movil">
                        <div class="intereses">
                            <h3 class="title-linea-small">Intereses </h3>
                            <div class="linea-small"></div>

                            <p class="txt-intereses" data-ng-repeat=" intereses in cultura.miembro.intereses">
                                {{ intereses}}
                            </p>
                        </div>

                        <div class="aficiones">
                            <h3 class="title-linea-small">Aficiones </h3>
                            <div class="linea-small"></div>

                            <p class="txt-intereses"data-ng-repeat=" aficiones in cultura.miembro.aficiones">
                                {{ aficiones }}
                            </p>
                        </div>
                    </div>
                    

                    <h3 class="title-linea">Referencias e inspiraciones </h3>
                    <div class="linea"></div>

                    <div class="cont-inspiracion">
                        
                        <div class="img-inspiracion">
                            <img src="{{ cultura.miembro.referencia1 }}" alt="">
                        </div>

                        <div class="img-inspiracion">
                            <img src="{{ cultura.miembro.referencia2 }}" alt="">
                        </div>

                        <div class="img-inspiracion">
                            <img src="{{ cultura.miembro.referencia3 }}" alt="">
                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
</div>